<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">

    <!-- code coverage reporting -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./doc</directory>
                <directory>./github</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Polyfill-Pinba Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
